.side-image {
    border-radius: 25px; /* Adjust the radius as needed */
    object-fit: contain; /* Maintain aspect ratio while covering the entire container */
    border-radius: 25px; /* Adjust the radius as needed */
    /*cursor: pointer;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;*/
}
  
.side-image:hover {
    /*transform: scale(1.05); /* Increase the size on hover */
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
  }