.thumbnail {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  /* Additional styling for your thumbnail */
  border-radius: 50%;
}

.content {
  display: flex;
  height: 100vh;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 1280px) {
  .content {
    flex-direction: column;
  }

  .child:nth-child(1) {
    order: 2;
  }

  .child:nth-child(2) {
    order: 1;
  }

  .child:nth-child(3) {
    order: 3;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .child:nth-child(1) {
    order: 2;
  }

  .child:nth-child(2) {
    order: 1;
  }

  .child:nth-child(3) {
    order: 3;
  }
}